.case5{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #081b29;
    z-index: 15;
}

.case5-title{
    position: absolute;
    width: 100%;
    height: 10%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.case5-title-text{
    width: 27%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.case5-title-text > h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;

}

.case5 .case5-container{
    position: relative;
    margin-top: 130px;
    margin-left: 300px;
    width: 937px;
    height: 700px;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    box-shadow: 0 0 100px #0ef;
}
.case5 .case5-container .xdong5{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 30px;
    background: rgba(255,0,0,0.5);
    cursor: pointer;
    user-select: none;
    color: white;
}
.case5 .case5-container .xdong5:hover {
    background: rgb(255,0,0);
}
.reset5 {
    position: absolute;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 30px;
    user-select: none;
    background:rgba(255,0,0,0.5);
}
.reset5:hover {
    background: red;
    cursor: pointer;
}

/* all element in case5 */
.case5-row{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
} 

.row {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item {
    background: black;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.font {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/*-----------------------------------------------------row1----------------------------------------*/
/*---------------------------------------------case5-row1-item1-rwamdom1----------------------------*/
.case5-row1-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case5-row1-item1-random2-1*/
.case5-row1-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case5-row1-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case5-row1-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case5-row1-item1-random2-2*/
.case5-row1-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case5-row1-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case5-row1-item1-random2-3*/
.case5-row1-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case5-row1-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case5-row1-item1-random2-3*/
.case5-row1-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case5-row1-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case5-row1-item1-random2-5*/
.case5-row1-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case5-row1-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }









/*--------------------------------case5-row1-item2-ramdom2-------------*/
.case5-row1-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row1-item2-random2-1*/
.case5-row1-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case5-row1-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case5-row1-item2-random2-2*/
.case5-row1-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case5-row1-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case5-row1-item1-random2-3*/
.case5-row1-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case5-row1-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case5-row1-item2-random2-4*/
.case5-row1-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case5-row1-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row1-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case5-row1-item2-random2-5*/
.case5-row1-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case5-row1-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }







/*--------------------------------case5-row1-item3-ramdom2-------------*/
.case5-row1-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row1-item3-random2-1*/
.case5-row1-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row1-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row1-item3-random2-2*/
.case5-row1-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row1-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row1-item1-random2-3*/
.case5-row1-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row1-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row1-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row1-item3-random2-4*/
.case5-row1-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row1-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row1-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row1-item3-random2-5*/
  .case5-row1-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row1-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }







/*--------------------------------case5-row1-item4-ramdom2-------------*/
.case5-row1-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row1-item4-random2-1*/
.case5-row1-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row1-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row1-ite4-random2-2*/
.case5-row1-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row1-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row1-item4-random2-3*/
.case5-row1-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row1-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row1-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row1-item4-random2-4*/
.case5-row1-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row1-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row1-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row1-item4-random2-5*/
  .case5-row1-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row1-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row1-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }


/*note vocabulary case5-row1-item2-radom2 */
/*1*/
.case5-row1-item2-random2-1::after{
    content: "travel arrangement";
}
.case5-row1-item2-random2-acc1::after{
    content: "sắp xếp đi lại";
}
/*2*/
.case5-row1-item2-random2-2::after{
    content: "drawer";
}
.case5-row1-item2-random2-acc2::after{
    content: "ngăn kéo";
}
/*3*/
.case5-row1-item2-random2-3::after{
    content: "reimburse";
}
.case5-row1-item2-random2-acc3::after{
    content: "hoàn tiền";
}
/*4*/
.case5-row1-item2-random2-4::after{
    content: "schedule (v,n)";
}
.case5-row1-item2-random2-acc4::after{
    content: "lên lịch, lịch trình";
}
/*5*/
.case5-row1-item2-random2-5::after{
    content: "department store";
}
.case5-row1-item2-random2-acc5::after{
    content: "cửa hàng bách hóa";
}  


/*note vocabulary case5-row1-item1-radom1 */
/*1*/
.case5-row1-item1-random2-1::after{
    content: "order";
}
.case5-row1-item1-random2-acc1::after{
    content: "đặt hàng";
}
/*2*/
.case5-row1-item1-random2-2::after{
    content: "complaint";
}
.case5-row1-item1-random2-acc2::after{
    content: "phàn nàn, khiếu nại";
}
/*3*/
.case5-row1-item1-random2-3::after{
    content: "effect";
}
.case5-row1-item1-random2-acc3::after{
    content: "hiệu quả, hiệu ứng, tác động";
}
/*4*/
.case5-row1-item1-random2-4::after{
    content: "rural areas";
}
.case5-row1-item1-random2-acc4::after{
    content: "khu vực nông thôn";
}
/*5*/
.case5-row1-item1-random2-5::after{
    content: "affordable";
}
.case5-row1-item1-random2-acc5::after{
    content: "có thể chi trả, giá cả phải chăng";
}



/*note vocabulary case5-row1-item3-radom2 */
/*1*/
.case5-row1-item3-random2-1::after{
    content: "even if";
}
.case5-row1-item3-random2-acc1::after{
    content: "kể cả khi";
}
/*2*/
.case5-row1-item3-random2-2::after{
    content: "resident";
}
.case5-row1-item3-random2-acc2::after{
    content: "cư dân, cư trú";
}
/*3*/
.case5-row1-item3-random2-3::after{
    content: "government";
}
.case5-row1-item3-random2-acc3::after{
    content: "chính phủ, sự cai trị";
}
/*4*/
.case5-row1-item3-random2-4::after{
    content: "hesitant";
}
.case5-row1-item3-random2-acc4::after{
    content: "do dự";
}
/*5*/
.case5-row1-item3-random2-5::after{
    content: "voice";
}
.case5-row1-item3-random2-acc5::after{
    content: "giọng nói";
}



/*note vocabulary case5-row1-item4-random2 */
/*1*/
.case5-row1-item4-random2-1::after{
    content: "resistance";
}
.case5-row1-item4-random2-acc1::after{
    content: "có sức chịu đựng";
}
/*2*/
.case5-row1-item4-random2-2::after{
    content: "proceed";
}
.case5-row1-item4-random2-acc2::after{
    content: "tiếp tục, tiến hành";
}
/*3*/
.case5-row1-item4-random2-3::after{
    content: "exist/existing";
}
.case5-row1-item4-random2-acc3::after{
    content: "tồn tại/ hiện tại";
}
/*4*/
.case5-row1-item4-random2-4::after{
    content: "numerous";
}
.case5-row1-item4-random2-acc4::after{
    content: "vô số";
}
/*5*/
.case5-row1-item4-random2-5::after{
    content: "alternative";
}
.case5-row1-item4-random2-acc5::after{
    content: "sự/ vật thay thế,thay thế";
}



/*-----------------------------------------------------row2----------------------------------------*/
/*---------------------------------------------case5-row1-item1-rwamdom1----------------------------*/
.case5-row2-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case5-row2-item1-random2-1*/
.case5-row2-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case5-row2-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case5-row2-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case5-row2-item1-random2-2*/
.case5-row2-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case5-row2-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case5-row2-item1-random2-3*/
.case5-row2-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case5-row2-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case5-row2-item1-random2-3*/
.case5-row2-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case5-row2-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case5-row2-item1-random2-5*/
  .case5-row2-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case5-row2-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case5-row2-item2-ramdom2-------------*/
.case5-row2-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row2-item2-random2-1*/
.case5-row2-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case5-row2-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case5-row2-item2-random2-2*/
.case5-row2-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case5-row2-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case5-row2-item1-random2-3*/
.case5-row2-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case5-row2-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case5-row2-item2-random2-4*/
.case5-row2-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case5-row2-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row2-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case5-row2-item2-random2-5*/
  .case5-row2-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case5-row2-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case5-row1-item3-ramdom2-------------*/
.case5-row2-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row2-item3-random2-1*/
.case5-row2-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row2-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row2-item3-random2-2*/
.case5-row2-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row2-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row2-item1-random2-3*/
.case5-row2-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row2-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row2-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row2-item3-random2-4*/
.case5-row2-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row2-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row2-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row2-item3-random2-5*/
  .case5-row2-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row2-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case5-row2-item4-ramdom2-------------*/
.case5-row2-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row2-item4-random2-1*/
.case5-row2-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row2-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row2-ite4-random2-2*/
.case5-row2-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row2-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row2-item4-random2-3*/
.case5-row2-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row2-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row2-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row2-item4-random2-4*/
.case5-row2-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row2-item4-random2-4::after{
    /* content: "His"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row2-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row2-item4-random2-5*/
  .case5-row2-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row2-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row2-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case5-row2-item1-radom1 */
/*1*/
.case5-row2-item1-random2-1::after{
    content: "whatever/ whenever";
}
.case5-row2-item1-random2-acc1::after{
    content: "mọi thứ/ mọi khi";
}
/*2*/
.case5-row2-item1-random2-2::after{
    content: "storage area";
}
.case5-row2-item1-random2-acc2::after{
    content: "khu vực lưu giữ";
}
/*3*/
.case5-row2-item1-random2-3::after{
    content: "basement";
}
.case5-row2-item1-random2-acc3::after{
    content: "nền móng";
}
/*4*/
.case5-row2-item1-random2-4::after{
    content: "mention";
}
.case5-row2-item1-random2-acc4::after{
    content: "sự đề cập, nói đến";
}
/*5*/
.case5-row2-item1-random2-5::after{
    content: "record";
}
.case5-row2-item1-random2-acc5::after{
    content: "hồ sơ ghi chép, ghi (chép) lại";
}




/*note vocabulary case5-row2-item2-radom2 */
/*1*/
.case5-row2-item2-random2-1::after{
    content: "charge";
}
.case5-row2-item2-random2-acc1::after{
    content: "phí/ tính phí, sạc (pin)";
}
/*2*/
.case5-row2-item2-random2-2::after{
    content: "detail";
}
.case5-row2-item2-random2-acc2::after{
    content: "trình bày chi tiết, chi tiết";
}
/*3*/
.case5-row2-item2-random2-3::after{
    content: "journal";
}
.case5-row2-item2-random2-acc3::after{
    content: "tạp chí";
}
/*4*/
.case5-row2-item2-random2-4::after{
    content: "professional";
}
.case5-row2-item2-random2-acc4::after{
    content: "chuyên gia";
}
/*5*/
.case5-row2-item2-random2-5::after{
    content: "individual";
}
.case5-row2-item2-random2-acc5::after{
    content: "cá nhân, thuộc về cá nhân";
}


/*note vocabulary case5-row2-item3-radom2 */
/*1*/
.case5-row2-item3-random2-1::after{
    content: "removal";
}
.case5-row2-item3-random2-acc1::after{
    content: "sự di chuyển";
}
/*2*/
.case5-row2-item3-random2-2::after{
    content: "representative";
}
.case5-row2-item3-random2-acc2::after{
    content: "người đại diện";
}
/*3*/
.case5-row2-item3-random2-3::after{
    content: "directive";
}
.case5-row2-item3-random2-acc3::after{
    content: "chỉ thị";
}
/*4*/
.case5-row2-item3-random2-4::after{
    content: "renewal";
}
.case5-row2-item3-random2-acc4::after{
    content: "sự gia hạn";
}
/*5*/
.case5-row2-item3-random2-5::after{
    content: "approval";
}
.case5-row2-item3-random2-acc5::after{
    content: "sự đồng ý, phê chuẩn";
}

/*note vocabulary case5-row2-item4-random2 */
/*1*/
.case5-row2-item4-random2-1::after{
    content: "arrival";
}
.case5-row2-item4-random2-acc1::after{
    content: "sự đến";
}
/*2*/
.case5-row2-item4-random2-2::after{
    content: "disposal";
}
.case5-row2-item4-random2-acc2::after{
    content: "sự vứt bỏ";
}
/*3*/
.case5-row2-item4-random2-3::after{
    content: "reveal";
}
.case5-row2-item4-random2-acc3::after{
    content: "tiết lộ, biểu lộ";
}
/*4*/
.case5-row2-item4-random2-4::after{
    content: "distinct";
}
.case5-row2-item4-random2-acc4::after{
    content: "riêng biệt, khác biệt, đặc trưng";
}
/*5*/
.case5-row2-item4-random2-5::after{
    content: "analyst";
}
.case5-row2-item4-random2-acc5::after{
    content: "sự phân tích, nhà phân tích";
}



/*-----------------------------------------------------row3----------------------------------------*/
/*---------------------------------------------case5-row3-item1-rwamdom1----------------------------*/
.case5-row3-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}


/*.case5-row3-item1-random2-1*/
.case5-row3-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case5-row3-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case5-row3-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case5-row3-item1-random2-2*/
.case5-row3-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case5-row3-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case5-row3-item1-random2-3*/
.case5-row3-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case5-row3-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case5-row3-item1-random2-3*/
.case5-row3-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case5-row3-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case5-row3-item1-random2-5*/
  .case5-row3-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case5-row3-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case5-row3-item2-ramdom2-------------*/
.case5-row3-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row3-item2-random2-1*/
.case5-row3-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case5-row3-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case5-row3-item2-random2-2*/
.case5-row3-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case5-row3-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case5-row3-item1-random2-3*/
.case5-row3-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case5-row3-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case5-row3-item2-random2-4*/
.case5-row3-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case5-row3-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row3-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case5-row3-item2-random2-5*/
  .case5-row3-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case5-row3-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case5-row3-item3-ramdom2-------------*/
.case5-row3-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row3-item3-random2-1*/
.case5-row3-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row3-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row3-item3-random2-2*/
.case5-row3-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row3-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row3-item1-random2-3*/
.case5-row3-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row3-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row3-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row3-item3-random2-4*/
.case5-row3-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row3-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row3-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row3-item3-random2-5*/
  .case5-row3-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row3-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case5-row3-item4-ramdom2-------------*/
.case5-row3-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case5-row3-item4-random2-1*/
.case5-row3-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case5-row3-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case5-row3-ite4-random2-2*/
.case5-row3-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case5-row3-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case5-row3-item4-random2-3*/
.case5-row3-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case5-row3-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case5-row3-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case5-row3-item4-random2-4*/
.case5-row3-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case5-row3-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case5-row3-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case5-row3-item4-random2-5*/
  .case5-row3-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case5-row3-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case5-row3-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case5-row3-item1-radom1 */
/*1*/
.case5-row3-item1-random2-1::after{
    content: "firm belief";
}
.case5-row3-item1-random2-acc1::after{
    content: "lòng tin vững chắc";
}
/*2*/
.case5-row3-item1-random2-2::after{
    content: "exceed";
}
.case5-row3-item1-random2-acc2::after{
    content: "vượt quá";
}
/*3*/
.case5-row3-item1-random2-3::after{
    content: "shareholder";
}
.case5-row3-item1-random2-acc3::after{
    content: "cổ đông";
}
/*4*/
.case5-row3-item1-random2-4::after{
    content: "expectations";
}
.case5-row3-item1-random2-acc4::after{
    content: "kì vọng";
}
/*5*/
.case5-row3-item1-random2-5::after{
    content: "recent";
}
.case5-row3-item1-random2-acc5::after{
    content: "gần đây, mới đây";
}




/*note vocabulary case5-row3-item2-radom2 */
/*1*/
.case5-row3-item2-random2-1::after{
    content: "conduct/ conducted";
}
.case5-row3-item2-random2-acc1::after{
    content: "chỉ dẫn/ tiến hành";
}
/*2*/
.case5-row3-item2-random2-2::after{
    content: "agancy";
}
.case5-row3-item2-random2-acc2::after{
    content: "cơ quan, hãng, chi nhánh";
}
/*3*/
.case5-row3-item2-random2-3::after{
    content: "respondents";
}
.case5-row3-item2-random2-acc3::after{
    content: "người trả lời";
}
/*4*/
.case5-row3-item2-random2-4::after{
    content: "prefer";
}
.case5-row3-item2-random2-acc4::after{
    content: "thích, thích hơn";
}
/*5*/
.case5-row3-item2-random2-5::after{
    content: "familiar";
}
.case5-row3-item2-random2-acc5::after{
    content: "quen thuộc, thông thường";
}


/*note vocabulary case5-row3-item3-radom2 */
/*1*/
.case5-row3-item3-random2-1::after{
    content: "destinations";
}
.case5-row3-item3-random2-acc1::after{
    content: "điểm đến";
}
/*2*/
.case5-row3-item3-random2-2::after{
    content: "majority";
}
.case5-row3-item3-random2-acc2::after{
    content: "đa số, phần lớn";
}
/*3*/
.case5-row3-item3-random2-3::after{
    content: "trophy";
}
.case5-row3-item3-random2-acc3::after{
    content: "cái cúp";
}
/*4*/
.case5-row3-item3-random2-4::after{
    content: "executive";
}
.case5-row3-item3-random2-acc4::after{
    content: "cấp cao";
}
/*5*/
.case5-row3-item3-random2-5::after{
    content: "pure";
}
.case5-row3-item3-random2-acc5::after{
    content: "nguyên chất";
}

/*note vocabulary case5-row3-item4-random2 */
/*1*/
.case5-row3-item4-random2-1::after{
    content: "in a loud voice";
}
.case5-row3-item4-random2-acc1::after{
    content: "bằng giọng nói lớn (ồn ào)";
}
/*2*/
.case5-row3-item4-random2-2::after{
    content: "smart";
}
.case5-row3-item4-random2-acc2::after{
    content: "thông minh";
}
/*3*/
.case5-row3-item4-random2-3::after{
    content: "brilliant";
}
.case5-row3-item4-random2-acc3::after{
    content: "thông thái";
}
/*4*/
.case5-row3-item4-random2-4::after{
    content: "guarantee(v)";
}
.case5-row3-item4-random2-acc4::after{
    content: "đảm bảo";
}
/*5*/
.case5-row3-item4-random2-5::after{
    content: "deliver";
}
.case5-row3-item4-random2-acc5::after{
    content: "giao hàng";
}




