.case2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #081b29;
    z-index: 12;
}
.case2 .case2-container{
    position: relative;
    margin-top: 130px;
    margin-left: 300px;
    width: 937px;
    height: 700px;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    box-shadow: 0 0 100px #0ef;
}
.case2 .case2-container .xdong2{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 30px;
    background: rgba(255,0,0,0.5);
    cursor: pointer;
    user-select: none;
    color: white;
}
.case2 .case2-container .xdong2:hover {
    background: rgb(255,0,0);
}
.reset2 {
    position: absolute;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 30px;
    user-select: none;
    background:rgba(255,0,0,0.5);
}
.reset2:hover {
    background: red;
    cursor: pointer;
}

/* all element in case2 */
.case2-row{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
} 

.row {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item {
    background: black;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.font {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/*-----------------------------------------------------row1----------------------------------------*/
/*---------------------------------------------case2-row1-item1-rwamdom1----------------------------*/
.case2-row1-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case2-row1-item1-random2-1*/
.case2-row1-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case2-row1-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case2-row1-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case2-row1-item1-random2-2*/
.case2-row1-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case2-row1-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case2-row1-item1-random2-3*/
.case2-row1-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case2-row1-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case2-row1-item1-random2-3*/
.case2-row1-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case2-row1-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case2-row1-item1-random2-5*/
.case2-row1-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case2-row1-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }









/*--------------------------------case2-row1-item2-ramdom2-------------*/
.case2-row1-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row1-item2-random2-1*/
.case2-row1-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case2-row1-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case2-row1-item2-random2-2*/
.case2-row1-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case2-row1-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case2-row1-item1-random2-3*/
.case2-row1-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case2-row1-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case2-row1-item2-random2-4*/
.case2-row1-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case2-row1-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row1-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case2-row1-item2-random2-5*/
.case2-row1-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case2-row1-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }







/*--------------------------------case2-row1-item3-ramdom2-------------*/
.case2-row1-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row1-item3-random2-1*/
.case2-row1-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row1-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row1-item3-random2-2*/
.case2-row1-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row1-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row1-item1-random2-3*/
.case2-row1-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row1-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row1-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row1-item3-random2-4*/
.case2-row1-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row1-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row1-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row1-item3-random2-5*/
  .case2-row1-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row1-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }







/*--------------------------------case2-row1-item4-ramdom2-------------*/
.case2-row1-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row1-item4-random2-1*/
.case2-row1-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row1-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row1-ite4-random2-2*/
.case2-row1-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row1-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row1-item4-random2-3*/
.case2-row1-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row1-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row1-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row1-item4-random2-4*/
.case2-row1-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row1-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row1-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row1-item4-random2-5*/
  .case2-row1-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row1-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row1-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }


/*note vocabulary case2-row1-item2-radom2 */
/*1*/
.case2-row1-item2-random2-1::after{
    content: "bending over";
}
.case2-row1-item2-random2-acc1::after{
    content: "cuối xuống";
}
/*2*/
.case2-row1-item2-random2-2::after{
    content: "beside";
}
.case2-row1-item2-random2-acc2::after{
    content: "bên cạnh";
}
/*3*/
.case2-row1-item2-random2-3::after{
    content: "grass";
}
.case2-row1-item2-random2-acc3::after{
    content: "cỏ";
}
/*4*/
.case2-row1-item2-random2-4::after{
    content: "a path";
}
.case2-row1-item2-random2-acc4::after{
    content: "lối đi nhỏ (lối mòn)";
}
/*5*/
.case2-row1-item2-random2-5::after{
    content: "inspected";
}
.case2-row1-item2-random2-acc5::after{
    content: "kiểm tra xem xét";
}  


/*note vocabulary case2-row1-item1-radom1 */
/*1*/
.case2-row1-item1-random2-1::after{
    content: "above";
}
.case2-row1-item1-random2-acc1::after{
    content: "trên";
}
/*2*/
.case2-row1-item1-random2-2::after{
    content: "onto";
}
.case2-row1-item1-random2-acc2::after{
    content: "bên trên";
}
/*3*/
.case2-row1-item1-random2-3::after{
    content: "by + location";
}
.case2-row1-item1-random2-acc3::after{
    content: "bên cạnh";
}
/*4*/
.case2-row1-item1-random2-4::after{
    content: "by + time";
}
.case2-row1-item1-random2-acc4::after{
    content: "trước";
}
/*5*/
.case2-row1-item1-random2-5::after{
    content: "drawer";
}
.case2-row1-item1-random2-acc5::after{
    content: "Ngăn kéo";
}



/*note vocabulary case2-row1-item3-radom2 */
/*1*/
.case2-row1-item3-random2-1::after{
    content: "wiping";
}
.case2-row1-item3-random2-acc1::after{
    content: "lau";
}
/*2*/
.case2-row1-item3-random2-2::after{
    content: "pouring";
}
.case2-row1-item3-random2-acc2::after{
    content: "rót";
}
/*3*/
.case2-row1-item3-random2-3::after{
    content: "beverages";
}
.case2-row1-item3-random2-acc3::after{
    content: "đồ uống";
}
/*4*/
.case2-row1-item3-random2-4::after{
    content: "loaded";
}
.case2-row1-item3-random2-acc4::after{
    content: "Chất lên";
}
/*5*/
.case2-row1-item3-random2-5::after{
    content: "cyclists";
}
.case2-row1-item3-random2-acc5::after{
    content: "Người đi xe đạp";
}



/*note vocabulary case2-row1-item4-random2 */
/*1*/
.case2-row1-item4-random2-1::after{
    content: "merchandise";
}
.case2-row1-item4-random2-acc1::after{
    content: "hàng hóa";
}
/*2*/
.case2-row1-item4-random2-2::after{
    content: "railing";
}
.case2-row1-item4-random2-acc2::after{
    content: "lan can";
}
/*3*/
.case2-row1-item4-random2-3::after{
    content: "descending";
}
.case2-row1-item4-random2-acc3::after{
    content: "đi xuống";
}
/*4*/
.case2-row1-item4-random2-4::after{
    content: "rowing";
}
.case2-row1-item4-random2-acc4::after{
    content: "chèo";
}
/*5*/
.case2-row1-item4-random2-5::after{
    content: "instruments";
}
.case2-row1-item4-random2-acc5::after{
    content: "nhạc cụ";
}



/*-----------------------------------------------------row2----------------------------------------*/
/*---------------------------------------------case2-row1-item1-rwamdom1----------------------------*/
.case2-row2-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case2-row2-item1-random2-1*/
.case2-row2-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case2-row2-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case2-row2-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case2-row2-item1-random2-2*/
.case2-row2-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case2-row2-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case2-row2-item1-random2-3*/
.case2-row2-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case2-row2-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case2-row2-item1-random2-3*/
.case2-row2-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case2-row2-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case2-row2-item1-random2-5*/
  .case2-row2-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case2-row2-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case2-row2-item2-ramdom2-------------*/
.case2-row2-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row2-item2-random2-1*/
.case2-row2-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case2-row2-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case2-row2-item2-random2-2*/
.case2-row2-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case2-row2-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case2-row2-item1-random2-3*/
.case2-row2-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case2-row2-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case2-row2-item2-random2-4*/
.case2-row2-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case2-row2-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row2-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case2-row2-item2-random2-5*/
  .case2-row2-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case2-row2-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case2-row1-item3-ramdom2-------------*/
.case2-row2-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row2-item3-random2-1*/
.case2-row2-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row2-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row2-item3-random2-2*/
.case2-row2-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row2-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row2-item1-random2-3*/
.case2-row2-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row2-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row2-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row2-item3-random2-4*/
.case2-row2-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row2-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row2-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row2-item3-random2-5*/
  .case2-row2-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row2-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case2-row2-item4-ramdom2-------------*/
.case2-row2-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row2-item4-random2-1*/
.case2-row2-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row2-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row2-ite4-random2-2*/
.case2-row2-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row2-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row2-item4-random2-3*/
.case2-row2-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row2-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row2-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row2-item4-random2-4*/
.case2-row2-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row2-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row2-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row2-item4-random2-5*/
  .case2-row2-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row2-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row2-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case2-row2-item1-radom1 */
/*1*/
.case2-row2-item1-random2-1::after{
    content: "leaning against";
}
.case2-row2-item1-random2-acc1::after{
    content: "Dựa vào";
}
/*2*/
.case2-row2-item1-random2-2::after{
    content: "counter";
}
.case2-row2-item1-random2-acc2::after{
    content: "Quầy";
}
/*3*/
.case2-row2-item1-random2-3::after{
    content: "a sign";
}
.case2-row2-item1-random2-acc3::after{
    content: "biển hiệu";
}
/*4*/
.case2-row2-item1-random2-4::after{
    content: "scarf/leather";
}
.case2-row2-item1-random2-acc4::after{
    content: "khăng choàng/ da thú";
}
/*5*/
.case2-row2-item1-random2-5::after{
    content: "ride";
}
.case2-row2-item1-random2-acc5::after{
    content: "xe có tay nắm";
}




/*note vocabulary case2-row2-item2-radom2 */
/*1*/
.case2-row2-item2-random2-1::after{
    content: "driver";
}
.case2-row2-item2-random2-acc1::after{
    content: "xe cầm vô lăng";
}
/*2*/
.case2-row2-item2-random2-2::after{
    content: "reception desk";
}
.case2-row2-item2-random2-acc2::after{
    content: "Quầy lễ tân";
}
/*3*/
.case2-row2-item2-random2-3::after{
    content: "artwork";
}
.case2-row2-item2-random2-acc3::after{
    content: "tác phẩm nghệ thuật";
}
/*4*/
.case2-row2-item2-random2-4::after{
    content: "except";
}
.case2-row2-item2-random2-acc4::after{
    content: "ngoại trừ";
}
/*5*/
.case2-row2-item2-random2-5::after{
    content: "purchased";
}
.case2-row2-item2-random2-acc5::after{
    content: "mua";
}


/*note vocabulary case2-row2-item3-radom2 */
/*1*/
.case2-row2-item3-random2-1::after{
    content: "enhance";
}
.case2-row2-item3-random2-acc1::after{
    content: "nâng cao";
}
/*2*/
.case2-row2-item3-random2-2::after{
    content: "notice";
}
.case2-row2-item3-random2-acc2::after{
    content: "Thông báo";
}
/*3*/
.case2-row2-item3-random2-3::after{
    content: "substitute";
}
.case2-row2-item3-random2-acc3::after{
    content: "sự thay thế";
}
/*4*/
.case2-row2-item3-random2-4::after{
    content: "instructor";
}
.case2-row2-item3-random2-acc4::after{
    content: "Người hướng dẫn";
}
/*5*/
.case2-row2-item3-random2-5::after{
    content: "unexpected";
}
.case2-row2-item3-random2-acc5::after{
    content: "Bất ngờ";
}

/*note vocabulary case2-row2-item4-random2 */
/*1*/
.case2-row2-item4-random2-1::after{
    content: "lobby";
}
.case2-row2-item4-random2-acc1::after{
    content: "Sảnh";
}
/*2*/
.case2-row2-item4-random2-2::after{
    content: "available";
}
.case2-row2-item4-random2-acc2::after{
    content: "Có sẳn";
}
/*3*/
.case2-row2-item4-random2-3::after{
    content: "fair";
}
.case2-row2-item4-random2-acc3::after{
    content: "triễn lãm";
}
/*4*/
.case2-row2-item4-random2-4::after{
    content: "goal";
}
.case2-row2-item4-random2-acc4::after{
    content: "Mục tiêu";
}
/*5*/
.case2-row2-item4-random2-5::after{
    content: "salespeople";
}
.case2-row2-item4-random2-acc5::after{
    content: "người bán";
}



/*-----------------------------------------------------row3----------------------------------------*/
/*---------------------------------------------case2-row3-item1-rwamdom1----------------------------*/
.case2-row3-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}


/*.case2-row3-item1-random2-1*/
.case2-row3-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case2-row3-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case2-row3-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case2-row3-item1-random2-2*/
.case2-row3-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case2-row3-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case2-row3-item1-random2-3*/
.case2-row3-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case2-row3-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case2-row3-item1-random2-3*/
.case2-row3-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case2-row3-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case2-row3-item1-random2-5*/
  .case2-row3-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case2-row3-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case2-row3-item2-ramdom2-------------*/
.case2-row3-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row3-item2-random2-1*/
.case2-row3-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case2-row3-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case2-row3-item2-random2-2*/
.case2-row3-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case2-row3-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case2-row3-item1-random2-3*/
.case2-row3-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case2-row3-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case2-row3-item2-random2-4*/
.case2-row3-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case2-row3-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row3-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case2-row3-item2-random2-5*/
  .case2-row3-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case2-row3-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case2-row3-item3-ramdom2-------------*/
.case2-row3-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row3-item3-random2-1*/
.case2-row3-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row3-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 40px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row3-item3-random2-2*/
.case2-row3-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row3-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row3-item1-random2-3*/
.case2-row3-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row3-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row3-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row3-item3-random2-4*/
.case2-row3-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row3-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row3-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row3-item3-random2-5*/
  .case2-row3-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row3-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case2-row3-item4-ramdom2-------------*/
.case2-row3-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case2-row3-item4-random2-1*/
.case2-row3-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case2-row3-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case2-row3-ite4-random2-2*/
.case2-row3-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case2-row3-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case2-row3-item4-random2-3*/
.case2-row3-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case2-row3-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case2-row3-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case2-row3-item4-random2-4*/
.case2-row3-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case2-row3-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case2-row3-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case2-row3-item4-random2-5*/
  .case2-row3-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case2-row3-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case2-row3-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case2-row3-item1-radom1 */
/*1*/
.case2-row3-item1-random2-1::after{
    content: "short notice";
}
.case2-row3-item1-random2-acc1::after{
    content: "Thông báo gấp";
}
/*2*/
.case2-row3-item1-random2-2::after{
    content: "garment";
}
.case2-row3-item1-random2-acc2::after{
    content: "Quần áo nữ";
}
/*3*/
.case2-row3-item1-random2-3::after{
    content: "stacking";
}
.case2-row3-item1-random2-acc3::after{
    content: "chất đống";
}
/*4*/
.case2-row3-item1-random2-4::after{
    content: "each other";
}
.case2-row3-item1-random2-acc4::after{
    content: "lẫn nhau";
}
/*5*/
.case2-row3-item1-random2-5::after{
    content: "facing";
}
.case2-row3-item1-random2-acc5::after{
    content: "đối mặt";
}




/*note vocabulary case2-row3-item2-radom2 */
/*1*/
.case2-row3-item2-random2-1::after{
    content: "hang";
}
.case2-row3-item2-random2-acc1::after{
    content: "treo";
}
/*2*/
.case2-row3-item2-random2-2::after{
    content: "are occupied";
}
.case2-row3-item2-random2-acc2::after{
    content: "có người";
}
/*3*/
.case2-row3-item2-random2-3::after{
    content: "arrange";
}
.case2-row3-item2-random2-acc3::after{
    content: "sắp xếp";
}
/*4*/
.case2-row3-item2-random2-4::after{
    content: "placed";
}
.case2-row3-item2-random2-acc4::after{
    content: "Đặt";
}
/*5*/
.case2-row3-item2-random2-5::after{
    content: "sweep";
}
.case2-row3-item2-random2-acc5::after{
    content: "Quét";
}


/*note vocabulary case2-row3-item3-radom2 */
/*1*/
.case2-row3-item3-random2-1::after{
    content: "aircraft";
}
.case2-row3-item3-random2-acc1::after{
    content: "Máy bay";
}
/*2*/
.case2-row3-item3-random2-2::after{
    content: "pass around";
}
.case2-row3-item3-random2-acc2::after{
    content: "Phát ra";
}
/*3*/
.case2-row3-item3-random2-3::after{
    content: "ask for";
}
.case2-row3-item3-random2-acc3::after{
    content: "yêu cầu";
}
/*4*/
.case2-row3-item3-random2-4::after{
    content: "upgrade";
}
.case2-row3-item3-random2-acc4::after{
    content: "Nâng cấp";
}
/*5*/
.case2-row3-item3-random2-5::after{
    content: "Conversation";
}
.case2-row3-item3-random2-acc5::after{
    content: "Cuộc hội thoại";
}

/*note vocabulary case2-row3-item4-random2 */
/*1*/
.case2-row3-item4-random2-1::after{
    content: "identification card";
}
.case2-row3-item4-random2-acc1::after{
    content: "Chứng minh thư";
}
/*2*/
.case2-row3-item4-random2-2::after{
    content: "assignment";
}
.case2-row3-item4-random2-acc2::after{
    content: "Phân công";
}
/*3*/
.case2-row3-item4-random2-3::after{
    content: "determine";
}
.case2-row3-item4-random2-acc3::after{
    content: "xác định";
}
/*4*/
.case2-row3-item4-random2-4::after{
    content: "expenditure";
}
.case2-row3-item4-random2-acc4::after{
    content: "chi phí";
}
/*5*/
.case2-row3-item4-random2-5::after{
    content: "announe";
}
.case2-row3-item4-random2-acc5::after{
    content: "thông báo";
}




