.case9{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #081b29;
    z-index: 15;
}

.case9-title{
    position: absolute;
    width: 100%;
    height: 10%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.case9-title-text{
    width: 35%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.case9-title-text > h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;

}
.case9 .case9-container{
    position: relative;
    margin-top: 130px;
    margin-left: 300px;
    width: 937px;
    height: 700px;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    box-shadow: 0 0 100px #0ef;
}
.case9 .case9-container .xdong9{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 30px;
    background: rgba(255,0,0,0.5);
    cursor: pointer;
    user-select: none;
    color: white;
}
.case9 .case9-container .xdong9:hover {
    background: rgb(255,0,0);
}
.reset9 {
    position: absolute;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 30px;
    user-select: none;
    background:rgba(255,0,0,0.5);
}
.reset9:hover {
    background: red;
    cursor: pointer;
}

/* all element in case9 */
.case9-row{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
} 

.row {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item {
    background: black;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.font {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/*-----------------------------------------------------row1----------------------------------------*/
/*---------------------------------------------case9-row1-item1-rwamdom1----------------------------*/
.case9-row1-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case9-row1-item1-random2-1*/
.case9-row1-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case9-row1-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case9-row1-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case9-row1-item1-random2-2*/
.case9-row1-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case9-row1-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case9-row1-item1-random2-3*/
.case9-row1-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case9-row1-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case9-row1-item1-random2-3*/
.case9-row1-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case9-row1-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case9-row1-item1-random2-5*/
.case9-row1-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case9-row1-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }









/*--------------------------------case9-row1-item2-ramdom2-------------*/
.case9-row1-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row1-item2-random2-1*/
.case9-row1-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case9-row1-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case9-row1-item2-random2-2*/
.case9-row1-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case9-row1-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case9-row1-item1-random2-3*/
.case9-row1-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case9-row1-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case9-row1-item2-random2-4*/
.case9-row1-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case9-row1-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row1-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case9-row1-item2-random2-5*/
.case9-row1-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case9-row1-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }







/*--------------------------------case9-row1-item3-ramdom2-------------*/
.case9-row1-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row1-item3-random2-1*/
.case9-row1-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row1-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row1-item3-random2-2*/
.case9-row1-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row1-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row1-item1-random2-3*/
.case9-row1-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row1-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row1-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row1-item3-random2-4*/
.case9-row1-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row1-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row1-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row1-item3-random2-5*/
  .case9-row1-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row1-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }







/*--------------------------------case9-row1-item4-ramdom2-------------*/
.case9-row1-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row1-item4-random2-1*/
.case9-row1-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row1-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row1-ite4-random2-2*/
.case9-row1-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row1-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row1-item4-random2-3*/
.case9-row1-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row1-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row1-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row1-item4-random2-4*/
.case9-row1-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row1-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row1-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row1-item4-random2-5*/
  .case9-row1-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row1-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row1-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }


/*note vocabulary case9-row1-item2-radom2 */
/*1*/
.case9-row1-item2-random2-1::after{
    content: "potential";
}
.case9-row1-item2-random2-acc1::after{
    content: "tiềm năng";
}
/*2*/
.case9-row1-item2-random2-2::after{
    content: "intended";
}
.case9-row1-item2-random2-acc2::after{
    content: "dành cho";
}
/*3*/
.case9-row1-item2-random2-3::after{
    content: "clear(adj/v)";
}
.case9-row1-item2-random2-acc3::after{
    content: "trong,rõ ràng/ dọn";
}
/*4*/
.case9-row1-item2-random2-4::after{
    content: "timely manner";
}
.case9-row1-item2-random2-acc4::after{
    content: "kịp thời";
}
/*5*/
.case9-row1-item2-random2-5::after{
    content: "in order for";
}
.case9-row1-item2-random2-acc5::after{
    content: "để cho";
}  


/*note vocabulary case9-row1-item1-radom1 */
/*1*/
.case9-row1-item1-random2-1::after{
    content: "workforce";
}
.case9-row1-item1-random2-acc1::after{
    content: "nhân sự, lực lương lao động";
}
/*2*/
.case9-row1-item1-random2-2::after{
    content: "picnic";
}
.case9-row1-item1-random2-acc2::after{
    content: "dã ngoại";
}
/*3*/
.case9-row1-item1-random2-3::after{
    content: "althought";
}
.case9-row1-item1-random2-acc3::after{
    content: "mặc dù";
}
/*4*/
.case9-row1-item1-random2-4::after{
    content: "final";
}
.case9-row1-item1-random2-acc4::after{
    content: "cuối cùng";
}
/*5*/
.case9-row1-item1-random2-5::after{
    content: "draft";
}
.case9-row1-item1-random2-acc5::after{
    content: "bản nháp";
}



/*note vocabulary case9-row1-item3-radom2 */
/*1*/
.case9-row1-item3-random2-1::after{
    content: "immediately";
}
.case9-row1-item3-random2-acc1::after{
    content: "ngay lập tức";
}
/*2*/
.case9-row1-item3-random2-2::after{
    content: "relevant";
}
.case9-row1-item3-random2-acc2::after{
    content: "thích hợp";
}
/*3*/
.case9-row1-item3-random2-3::after{
    content: "devise";
}
.case9-row1-item3-random2-acc3::after{
    content: "thiết kế, xây dựng";
}
/*4*/
.case9-row1-item3-random2-4::after{
    content: "though";
}
.case9-row1-item3-random2-acc4::after{
    content: "mặc dù";
}
/*5*/
.case9-row1-item3-random2-5::after{
    content: "a great deal of money";
}
.case9-row1-item3-random2-acc5::after{
    content: "rất nhiều tiền";
}



/*note vocabulary case9-row1-item4-random2 */
/*1*/
.case9-row1-item4-random2-1::after{
    content: "invest";
}
.case9-row1-item4-random2-acc1::after{
    content: "đầu tư";
}
/*2*/
.case9-row1-item4-random2-2::after{
    content: "country";
}
.case9-row1-item4-random2-acc2::after{
    content: "quốc gia, nước";
}
/*3*/
.case9-row1-item4-random2-3::after{
    content: "implement";
}
.case9-row1-item4-random2-acc3::after{
    content: "thực hiện";
}
/*4*/
.case9-row1-item4-random2-4::after{
    content: "amenity";
}
.case9-row1-item4-random2-acc4::after{
    content: "tiện nghi";
}
/*5*/
.case9-row1-item4-random2-5::after{
    content: "upon";
}
.case9-row1-item4-random2-acc5::after{
    content: "trên";
}



/*-----------------------------------------------------row2----------------------------------------*/
/*---------------------------------------------case9-row1-item1-rwamdom1----------------------------*/
.case9-row2-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case9-row2-item1-random2-1*/
.case9-row2-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case9-row2-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case9-row2-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case9-row2-item1-random2-2*/
.case9-row2-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case9-row2-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case9-row2-item1-random2-3*/
.case9-row2-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case9-row2-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case9-row2-item1-random2-3*/
.case9-row2-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case9-row2-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case9-row2-item1-random2-5*/
  .case9-row2-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case9-row2-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case9-row2-item2-ramdom2-------------*/
.case9-row2-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row2-item2-random2-1*/
.case9-row2-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case9-row2-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case9-row2-item2-random2-2*/
.case9-row2-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case9-row2-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case9-row2-item1-random2-3*/
.case9-row2-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case9-row2-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case9-row2-item2-random2-4*/
.case9-row2-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case9-row2-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row2-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case9-row2-item2-random2-5*/
  .case9-row2-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case9-row2-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case9-row1-item3-ramdom2-------------*/
.case9-row2-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row2-item3-random2-1*/
.case9-row2-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row2-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row2-item3-random2-2*/
.case9-row2-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row2-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row2-item1-random2-3*/
.case9-row2-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row2-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row2-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row2-item3-random2-4*/
.case9-row2-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row2-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row2-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row2-item3-random2-5*/
  .case9-row2-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row2-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case9-row2-item4-ramdom2-------------*/
.case9-row2-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row2-item4-random2-1*/
.case9-row2-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row2-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row2-ite4-random2-2*/
.case9-row2-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row2-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row2-item4-random2-3*/
.case9-row2-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row2-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row2-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row2-item4-random2-4*/
.case9-row2-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row2-item4-random2-4::after{
    /* content: "His"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row2-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row2-item4-random2-5*/
  .case9-row2-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row2-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row2-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case9-row2-item1-radom1 */
/*1*/
.case9-row2-item1-random2-1::after{
    content: "failure";
}
.case9-row2-item1-random2-acc1::after{
    content: "sự thất bại";
}
/*2*/
.case9-row2-item1-random2-2::after{
    content: "since taking";
}
.case9-row2-item1-random2-acc2::after{
    content: "kể từ khi";
}
/*3*/
.case9-row2-item1-random2-3::after{
    content: "reorganize";
}
.case9-row2-item1-random2-acc3::after{
    content: "tái tổ chức";
}
/*4*/
.case9-row2-item1-random2-4::after{
    content: "process";
}
.case9-row2-item1-random2-acc4::after{
    content: "quy trình";
}
/*5*/
.case9-row2-item1-random2-5::after{
    content: "output";
}
.case9-row2-item1-random2-acc5::after{
    content: "hiệu suất";
}




/*note vocabulary case9-row2-item2-radom2 */
/*1*/
.case9-row2-item2-random2-1::after{
    content: "rate";
}
.case9-row2-item2-random2-acc1::after{
    content: "tỉ lệ, tốc độ";
}
/*2*/
.case9-row2-item2-random2-2::after{
    content: "attempt";
}
.case9-row2-item2-random2-acc2::after{
    content: "cố gắng";
}
/*3*/
.case9-row2-item2-random2-3::after{
    content: "improve";
}
.case9-row2-item2-random2-acc3::after{
    content: "cải thiện";
}
/*4*/
.case9-row2-item2-random2-4::after{
    content: "least";
}
.case9-row2-item2-random2-acc4::after{
    content: "tối thiểu, ít nhất";
}
/*5*/
.case9-row2-item2-random2-5::after{
    content: "equipment";
}
.case9-row2-item2-random2-acc5::after{
    content: "dụng cụ, thiết bị";
}


/*note vocabulary case9-row2-item3-radom2 */
/*1*/
.case9-row2-item3-random2-1::after{
    content: "additional (adj)";
}
.case9-row2-item3-random2-acc1::after{
    content: "bổ sung, thêm vào";
}
/*2*/
.case9-row2-item3-random2-2::after{
    content: "battery(n)";
}
.case9-row2-item3-random2-acc2::after{
    content: "pin";
}
/*3*/
.case9-row2-item3-random2-3::after{
    content: "charge";
}
.case9-row2-item3-random2-acc3::after{
    content: "phí, tiền phí, sạc pin";
}
/*4*/
.case9-row2-item3-random2-4::after{
    content: "fee";
}
.case9-row2-item3-random2-acc4::after{
    content: "phí, tiền phí";
}
/*5*/
.case9-row2-item3-random2-5::after{
    content: "subscription (n)";
}
.case9-row2-item3-random2-acc5::after{
    content: "sự đăng ký";
}

/*note vocabulary case9-row2-item4-random2 */
/*1*/
.case9-row2-item4-random2-1::after{
    content: "effective (adj)";
}
.case9-row2-item4-random2-acc1::after{
    content: "có hiệu quả";
}
/*2*/
.case9-row2-item4-random2-2::after{
    content: "low";
}
.case9-row2-item4-random2-acc2::after{
    content: "thấp";
}
/*3*/
.case9-row2-item4-random2-3::after{
    content: "technical support(n)";
}
.case9-row2-item4-random2-acc3::after{
    content: "hỗ trợ kỹ thuật";
}
/*4*/
.case9-row2-item4-random2-4::after{
    content: "medicine (n)";
}
.case9-row2-item4-random2-acc4::after{
    content: "thuốc";
}
/*5*/
.case9-row2-item4-random2-5::after{
    content: "electronics (n)";
}
.case9-row2-item4-random2-acc5::after{
    content: "Đồ điện tử";
}



/*-----------------------------------------------------row3----------------------------------------*/
/*---------------------------------------------case9-row3-item1-rwamdom1----------------------------*/
.case9-row3-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}


/*.case9-row3-item1-random2-1*/
.case9-row3-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case9-row3-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case9-row3-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case9-row3-item1-random2-2*/
.case9-row3-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case9-row3-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case9-row3-item1-random2-3*/
.case9-row3-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case9-row3-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case9-row3-item1-random2-3*/
.case9-row3-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case9-row3-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case9-row3-item1-random2-5*/
  .case9-row3-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case9-row3-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case9-row3-item2-ramdom2-------------*/
.case9-row3-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row3-item2-random2-1*/
.case9-row3-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case9-row3-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case9-row3-item2-random2-2*/
.case9-row3-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case9-row3-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case9-row3-item1-random2-3*/
.case9-row3-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case9-row3-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case9-row3-item2-random2-4*/
.case9-row3-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case9-row3-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row3-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case9-row3-item2-random2-5*/
  .case9-row3-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case9-row3-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case9-row3-item3-ramdom2-------------*/
.case9-row3-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row3-item3-random2-1*/
.case9-row3-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row3-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row3-item3-random2-2*/
.case9-row3-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row3-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row3-item1-random2-3*/
.case9-row3-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row3-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row3-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row3-item3-random2-4*/
.case9-row3-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row3-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row3-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row3-item3-random2-5*/
  .case9-row3-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row3-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case9-row3-item4-ramdom2-------------*/
.case9-row3-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case9-row3-item4-random2-1*/
.case9-row3-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case9-row3-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case9-row3-ite4-random2-2*/
.case9-row3-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case9-row3-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case9-row3-item4-random2-3*/
.case9-row3-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case9-row3-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case9-row3-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case9-row3-item4-random2-4*/
.case9-row3-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case9-row3-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case9-row3-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case9-row3-item4-random2-5*/
  .case9-row3-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case9-row3-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case9-row3-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case9-row3-item1-radom1 */
/*1*/
.case9-row3-item1-random2-1::after{
    content: "risk";
}
.case9-row3-item1-random2-acc1::after{
    content: "rủi ro, nguy cơ";
}
/*2*/
.case9-row3-item1-random2-2::after{
    content: "obligation";
}
.case9-row3-item1-random2-acc2::after{
    content: "nghĩa vụ, bổn phận";
}
/*3*/
.case9-row3-item1-random2-3::after{
    content: "audit";
}
.case9-row3-item1-random2-acc3::after{
    content: "sự kiểm toán, kiểm tra sổ sách";
}
/*4*/
.case9-row3-item1-random2-4::after{
    content: "realize";
}
.case9-row3-item1-random2-acc4::after{
    content: "nhận ra";
}
/*5*/
.case9-row3-item1-random2-5::after{
    content: "cause";
}
.case9-row3-item1-random2-acc5::after{
    content: "gây ra, tạo ra";
}




/*note vocabulary case9-row3-item2-radom2 */
/*1*/
.case9-row3-item2-random2-1::after{
    content: "replacement (n)";
}
.case9-row3-item2-random2-acc1::after{
    content: "sự thay thế, vật thay thế";
}
/*2*/
.case9-row3-item2-random2-2::after{
    content: "follow";
}
.case9-row3-item2-random2-acc2::after{
    content: "đi theo, theo dõi, ngay sau";
}
/*3*/
.case9-row3-item2-random2-3::after{
    content: "department (n)";
}
.case9-row3-item2-random2-acc3::after{
    content: "bộ phân, phòng, ban, khoa";
}
/*4*/
.case9-row3-item2-random2-4::after{
    content: "visitor(n)";
}
.case9-row3-item2-random2-acc4::after{
    content: "du khách";
}
/*5*/
.case9-row3-item2-random2-5::after{
    content: "fact(n)";
}
.case9-row3-item2-random2-acc5::after{
    content: "sự thật";
}


/*note vocabulary case9-row3-item3-radom2 */
/*1*/
.case9-row3-item3-random2-1::after{
    content: "tight";
}
.case9-row3-item3-random2-acc1::after{
    content: "chặt chẽ, kín";
}
/*2*/
.case9-row3-item3-random2-2::after{
    content: "experience";
}
.case9-row3-item3-random2-acc2::after{
    content: "kinh nghiệm, trải nghiệm";
}
/*3*/
.case9-row3-item3-random2-3::after{
    content: "damage";
}
.case9-row3-item3-random2-acc3::after{
    content: "hư hại";
}
/*4*/
.case9-row3-item3-random2-4::after{
    content: "attract";
}
.case9-row3-item3-random2-acc4::after{
    content: "hấp dẫn, thu hút";
}
/*5*/
.case9-row3-item3-random2-5::after{
    content: "back injury";
}
.case9-row3-item3-random2-acc5::after{
    content: "đau lưng";
}

/*note vocabulary case9-row3-item4-random2 */
/*1*/
.case9-row3-item4-random2-1::after{
    content: "summary";
}
.case9-row3-item4-random2-acc1::after{
    content: "bản tóm tắt";
}
/*2*/
.case9-row3-item4-random2-2::after{
    content: "provide";
}
.case9-row3-item4-random2-acc2::after{
    content: "cung cấp";
}
/*3*/
.case9-row3-item4-random2-3::after{
    content: "recommendation";
}
.case9-row3-item4-random2-acc3::after{
    content: "khuyến nghị";
}
/*4*/
.case9-row3-item4-random2-4::after{
    content: "anticipate";
}
.case9-row3-item4-random2-acc4::after{
    content: "dự báo";
}
/*5*/
.case9-row3-item4-random2-5::after{
    content: "complimentary";
}
.case9-row3-item4-random2-acc5::after{
    content: "miễn phí";
}




