.case10{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #081b29;
    z-index: 15;
}

.case10-title{
    position: absolute;
    width: 100%;
    height: 10%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.case10-title-text{
    width: 40%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.case10-title-text > h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;

}
.case10 .case10-container{
    position: relative;
    margin-top: 130px;
    margin-left: 300px;
    width: 937px;
    height: 700px;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    box-shadow: 0 0 100px #0ef;
}
.case10 .case10-container .xdong10{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 30px;
    background: rgba(255,0,0,0.5);
    cursor: pointer;
    user-select: none;
    color: white;
}
.case10 .case10-container .xdong10:hover {
    background: rgb(255,0,0);
}
.reset10 {
    position: absolute;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 30px;
    user-select: none;
    background:rgba(255,0,0,0.5);
}
.reset10:hover {
    background: red;
    cursor: pointer;
}

/* all element in case10 */
.case10-row{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
} 

.row {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item {
    background: black;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.font {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/*-----------------------------------------------------row1----------------------------------------*/
/*---------------------------------------------case10-row1-item1-rwamdom1----------------------------*/
.case10-row1-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case10-row1-item1-random2-1*/
.case10-row1-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case10-row1-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case10-row1-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case10-row1-item1-random2-2*/
.case10-row1-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case10-row1-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case10-row1-item1-random2-3*/
.case10-row1-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case10-row1-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case10-row1-item1-random2-3*/
.case10-row1-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case10-row1-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case10-row1-item1-random2-5*/
.case10-row1-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case10-row1-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }









/*--------------------------------case10-row1-item2-ramdom2-------------*/
.case10-row1-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row1-item2-random2-1*/
.case10-row1-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case10-row1-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case10-row1-item2-random2-2*/
.case10-row1-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case10-row1-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case10-row1-item1-random2-3*/
.case10-row1-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case10-row1-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case10-row1-item2-random2-4*/
.case10-row1-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case10-row1-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row1-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case10-row1-item2-random2-5*/
.case10-row1-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case10-row1-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }







/*--------------------------------case10-row1-item3-ramdom2-------------*/
.case10-row1-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row1-item3-random2-1*/
.case10-row1-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row1-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row1-item3-random2-2*/
.case10-row1-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row1-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row1-item1-random2-3*/
.case10-row1-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row1-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row1-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row1-item3-random2-4*/
.case10-row1-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row1-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row1-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row1-item3-random2-5*/
  .case10-row1-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row1-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }







/*--------------------------------case10-row1-item4-ramdom2-------------*/
.case10-row1-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row1-item4-random2-1*/
.case10-row1-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row1-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row1-ite4-random2-2*/
.case10-row1-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row1-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row1-item4-random2-3*/
.case10-row1-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row1-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row1-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row1-item4-random2-4*/
.case10-row1-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row1-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row1-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row1-item4-random2-5*/
  .case10-row1-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row1-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row1-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }


/*note vocabulary case10-row1-item2-radom2 */
/*1*/
.case10-row1-item2-random2-1::after{
    content: "facility(n)";
}
.case10-row1-item2-random2-acc1::after{
    content: "tiện nghi, cơ sở vật chất";
}
/*2*/
.case10-row1-item2-random2-2::after{
    content: "coordinator(n)";
}
.case10-row1-item2-random2-acc2::after{
    content: "nhân viên đều phối";
}
/*3*/
.case10-row1-item2-random2-3::after{
    content: "campaign";
}
.case10-row1-item2-random2-acc3::after{
    content: "chiến dịch, cuộc vận động";
}
/*4*/
.case10-row1-item2-random2-4::after{
    content: "interrupt(v)";
}
.case10-row1-item2-random2-acc4::after{
    content: "gián đoạn";
}
/*5*/
.case10-row1-item2-random2-5::after{
    content: "increase";
}
.case10-row1-item2-random2-acc5::after{
    content: "tăng lên";
}  


/*note vocabulary case10-row1-item1-radom1 */
/*1*/
.case10-row1-item1-random2-1::after{
    content: "go up";
}
.case10-row1-item1-random2-acc1::after{
    content: "tăng lên";
}
/*2*/
.case10-row1-item1-random2-2::after{
    content: "rise";
}
.case10-row1-item1-random2-acc2::after{
    content: "tăng lên";
}
/*3*/
.case10-row1-item1-random2-3::after{
    content: "grow(v)";
}
.case10-row1-item1-random2-acc3::after{
    content: "tăng lên, trồng";
}
/*4*/
.case10-row1-item1-random2-4::after{
    content: "additional";
}
.case10-row1-item1-random2-acc4::after{
    content: "thêm vào, bổ sung vào";
}
/*5*/
.case10-row1-item1-random2-5::after{
    content: "extra";
}
.case10-row1-item1-random2-acc5::after{
    content: "thêm vào, bổ sung vào";
}



/*note vocabulary case10-row1-item3-radom2 */
/*1*/
.case10-row1-item3-random2-1::after{
    content: "expansion plan";
}
.case10-row1-item3-random2-acc1::after{
    content: "kế hoạch mở rộng";
}
/*2*/
.case10-row1-item3-random2-2::after{
    content: "care";
}
.case10-row1-item3-random2-acc2::after{
    content: "cẩn thận, quan tâm";
}
/*3*/
.case10-row1-item3-random2-3::after{
    content: "fund";
}
.case10-row1-item3-random2-acc3::after{
    content: "vốn, quĩ";
}
/*4*/
.case10-row1-item3-random2-4::after{
    content: "revise(v)";
}
.case10-row1-item3-random2-acc4::after{
    content: "sữa lại, xét lại";
}
/*5*/
.case10-row1-item3-random2-5::after{
    content: "renovate";
}
.case10-row1-item3-random2-acc5::after{
    content: "sữa chữa lại, tân trang lại";
}



/*note vocabulary case10-row1-item4-random2 */
/*1*/
.case10-row1-item4-random2-1::after{
    content: "remodel(v)";
}
.case10-row1-item4-random2-acc1::after{
    content: "sữa chữa lại, tân trang lại";
}
/*2*/
.case10-row1-item4-random2-2::after{
    content: "interior";
}
.case10-row1-item4-random2-acc2::after{
    content: "nội thất";
}
/*3*/
.case10-row1-item4-random2-3::after{
    content: "capacity(n)";
}
.case10-row1-item4-random2-acc3::after{
    content: "khả năng, sức chứa";
}
/*4*/
.case10-row1-item4-random2-4::after{
    content: "theatre";
}
.case10-row1-item4-random2-acc4::after{
    content: "nhà hát";
}
/*5*/
.case10-row1-item4-random2-5::after{
    content: "in preparation for";
}
.case10-row1-item4-random2-acc5::after{
    content: "để chuẩn bị cho";
}



/*-----------------------------------------------------row2----------------------------------------*/
/*---------------------------------------------case10-row1-item1-rwamdom1----------------------------*/
.case10-row2-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case10-row2-item1-random2-1*/
.case10-row2-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case10-row2-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case10-row2-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case10-row2-item1-random2-2*/
.case10-row2-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case10-row2-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case10-row2-item1-random2-3*/
.case10-row2-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case10-row2-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case10-row2-item1-random2-3*/
.case10-row2-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case10-row2-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case10-row2-item1-random2-5*/
  .case10-row2-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case10-row2-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case10-row2-item2-ramdom2-------------*/
.case10-row2-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row2-item2-random2-1*/
.case10-row2-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case10-row2-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case10-row2-item2-random2-2*/
.case10-row2-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case10-row2-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case10-row2-item1-random2-3*/
.case10-row2-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case10-row2-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case10-row2-item2-random2-4*/
.case10-row2-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case10-row2-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row2-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case10-row2-item2-random2-5*/
  .case10-row2-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case10-row2-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case10-row1-item3-ramdom2-------------*/
.case10-row2-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row2-item3-random2-1*/
.case10-row2-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row2-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row2-item3-random2-2*/
.case10-row2-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row2-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row2-item1-random2-3*/
.case10-row2-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row2-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row2-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row2-item3-random2-4*/
.case10-row2-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row2-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row2-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row2-item3-random2-5*/
  .case10-row2-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row2-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case10-row2-item4-ramdom2-------------*/
.case10-row2-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row2-item4-random2-1*/
.case10-row2-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row2-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row2-ite4-random2-2*/
.case10-row2-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row2-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row2-item4-random2-3*/
.case10-row2-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row2-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row2-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row2-item4-random2-4*/
.case10-row2-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row2-item4-random2-4::after{
    /* content: "His"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row2-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row2-item4-random2-5*/
  .case10-row2-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row2-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row2-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case10-row2-item1-radom1 */
/*1*/
.case10-row2-item1-random2-1::after{
    content: "hard";
}
.case10-row2-item1-random2-acc1::after{
    content: "khó khăn, chăm chỉ";
}
/*2*/
.case10-row2-item1-random2-2::after{
    content: "shelter(n/v)";
}
.case10-row2-item1-random2-acc2::after{
    content: "chỗ ở, cung cấp chỗ trú ngụ";
}
/*3*/
.case10-row2-item1-random2-3::after{
    content: "human";
}
.case10-row2-item1-random2-acc3::after{
    content: "con người";
}
/*4*/
.case10-row2-item1-random2-4::after{
    content: "guarantee(v)";
}
.case10-row2-item1-random2-acc4::after{
    content: "đảm bảo, bảo hiểm";
}
/*5*/
.case10-row2-item1-random2-5::after{
    content: "insure(v)";
}
.case10-row2-item1-random2-acc5::after{
    content: "đảm bảo, bảo hiểm";
}




/*note vocabulary case10-row2-item2-radom2 */
/*1*/
.case10-row2-item2-random2-1::after{
    content: "within";
}
.case10-row2-item2-random2-acc1::after{
    content: "trong vòng, bên trong";
}
/*2*/
.case10-row2-item2-random2-2::after{
    content: "expedited(adj)";
}
.case10-row2-item2-random2-acc2::after{
    content: "nhanh, tốc hành(giao hàng)";
}
/*3*/
.case10-row2-item2-random2-3::after{
    content: "terminate(v)";
}
.case10-row2-item2-random2-acc3::after{
    content: "chấm dứt";
}
/*4*/
.case10-row2-item2-random2-4::after{
    content: "upgrade(v)";
}
.case10-row2-item2-random2-acc4::after{
    content: "nâng cấp";
}
/*5*/
.case10-row2-item2-random2-5::after{
    content: "accommodation(n)";
}
.case10-row2-item2-random2-acc5::after{
    content: "chỗ ở";
}


/*note vocabulary case10-row2-item3-radom2 */
/*1*/
.case10-row2-item3-random2-1::after{
    content: "vary";
}
.case10-row2-item3-random2-acc1::after{
    content: "làm cho khác nhau, thay đổi, đa dạng";
}
/*2*/
.case10-row2-item3-random2-2::after{
    content: "greatly";
}
.case10-row2-item3-random2-acc2::after{
    content: "rất nhiều";
}
/*3*/
.case10-row2-item3-random2-3::after{
    content: "size";
}
.case10-row2-item3-random2-acc3::after{
    content: "kích cỡ, quy mô";
}
/*4*/
.case10-row2-item3-random2-4::after{
    content: "solicit(v)";
}
.case10-row2-item3-random2-acc4::after{
    content: "kêu gọi";
}
/*5*/
.case10-row2-item3-random2-5::after{
    content: "donation";
}
.case10-row2-item3-random2-acc5::after{
    content: "quyên góp";
}

/*note vocabulary case10-row2-item4-random2 */
/*1*/
.case10-row2-item4-random2-1::after{
    content: "excel";
}
.case10-row2-item4-random2-acc1::after{
    content: "trội hơn, vượt trội";
}
/*2*/
.case10-row2-item4-random2-2::after{
    content: "summer";
}
.case10-row2-item4-random2-acc2::after{
    content: "mùa hè";
}
/*3*/
.case10-row2-item4-random2-3::after{
    content: "recruitment";
}
.case10-row2-item4-random2-acc3::after{
    content: "tuyển dụng";
}
/*4*/
.case10-row2-item4-random2-4::after{
    content: "advertise";
}
.case10-row2-item4-random2-acc4::after{
    content: "quảng cáo";
}
/*5*/
.case10-row2-item4-random2-5::after{
    content: "until";
}
.case10-row2-item4-random2-acc5::after{
    content: "cho đến khi";
}



/*-----------------------------------------------------row3----------------------------------------*/
/*---------------------------------------------case10-row3-item1-rwamdom1----------------------------*/
.case10-row3-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}


/*.case10-row3-item1-random2-1*/
.case10-row3-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case10-row3-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case10-row3-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case10-row3-item1-random2-2*/
.case10-row3-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case10-row3-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case10-row3-item1-random2-3*/
.case10-row3-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case10-row3-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case10-row3-item1-random2-3*/
.case10-row3-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case10-row3-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case10-row3-item1-random2-5*/
  .case10-row3-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case10-row3-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case10-row3-item2-ramdom2-------------*/
.case10-row3-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row3-item2-random2-1*/
.case10-row3-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case10-row3-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case10-row3-item2-random2-2*/
.case10-row3-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case10-row3-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case10-row3-item1-random2-3*/
.case10-row3-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case10-row3-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case10-row3-item2-random2-4*/
.case10-row3-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case10-row3-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row3-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }


  
  /*.case10-row3-item2-random2-5*/
  .case10-row3-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case10-row3-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case10-row3-item3-ramdom2-------------*/
.case10-row3-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row3-item3-random2-1*/
.case10-row3-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row3-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row3-item3-random2-2*/
.case10-row3-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row3-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row3-item1-random2-3*/
.case10-row3-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row3-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row3-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row3-item3-random2-4*/
.case10-row3-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row3-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row3-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row3-item3-random2-5*/
  .case10-row3-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row3-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case10-row3-item4-ramdom2-------------*/
.case10-row3-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case10-row3-item4-random2-1*/
.case10-row3-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case10-row3-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case10-row3-ite4-random2-2*/
.case10-row3-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case10-row3-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case10-row3-item4-random2-3*/
.case10-row3-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case10-row3-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case10-row3-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case10-row3-item4-random2-4*/
.case10-row3-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case10-row3-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case10-row3-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case10-row3-item4-random2-5*/
  .case10-row3-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case10-row3-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case10-row3-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case10-row3-item1-radom1 */
/*1*/
.case10-row3-item1-random2-1::after{
    content: "elevator";
}
.case10-row3-item1-random2-acc1::after{
    content: "thang máy";
}
/*2*/
.case10-row3-item1-random2-2::after{
    content: "credit";
}
.case10-row3-item1-random2-acc2::after{
    content: "tín dụng";
}
/*3*/
.case10-row3-item1-random2-3::after{
    content: "festival";
}
.case10-row3-item1-random2-acc3::after{
    content: "ngày hội";
}
/*4*/
.case10-row3-item1-random2-4::after{
    content: "entire";
}
.case10-row3-item1-random2-acc4::after{
    content: "toàn bộ";
}
/*5*/
.case10-row3-item1-random2-5::after{
    content: "however";
}
.case10-row3-item1-random2-acc5::after{
    content: "tuy nhiên";
}




/*note vocabulary case10-row3-item2-radom2 */
/*1*/
.case10-row3-item2-random2-1::after{
    content: "unlike";
}
.case10-row3-item2-random2-acc1::after{
    content: "không giống";
}
/*2*/
.case10-row3-item2-random2-2::after{
    content: "previous";
}
.case10-row3-item2-random2-acc2::after{
    content: "trước đây";
}
/*3*/
.case10-row3-item2-random2-3::after{
    content: "intermittently";
}
.case10-row3-item2-random2-acc3::after{
    content: "không thường xuyên";
}
/*4*/
.case10-row3-item2-random2-4::after{
    content: "therefor";
}
.case10-row3-item2-random2-acc4::after{
    content: "vì vậy, do đó";
}
/*5*/
.case10-row3-item2-random2-5::after{
    content: "trailer";
}
.case10-row3-item2-random2-acc5::after{
    content: "xe moóc(toa moóc)";
}


/*note vocabulary case10-row3-item3-radom2 */
/*1*/
.case10-row3-item3-random2-1::after{
    content: "take breaks";
}
.case10-row3-item3-random2-acc1::after{
    content: "giờ giải lao, giờ ra chơi";
}
/*2*/
.case10-row3-item3-random2-2::after{
    content: "heat";
}
.case10-row3-item3-random2-acc2::after{
    content: "nhiệt, cái nóng";
}
/*3*/
.case10-row3-item3-random2-3::after{
    content: "look forward to";
}
.case10-row3-item3-random2-acc3::after{
    content: "mong đợi";
}
/*4*/
.case10-row3-item3-random2-4::after{
    content: "again";
}
.case10-row3-item3-random2-acc4::after{
    content: "lại, lần nữa";
}
/*5*/
.case10-row3-item3-random2-5::after{
    content: "performer";
}
.case10-row3-item3-random2-acc5::after{
    content: "diễn viên, người biểu diễn";
}

/*note vocabulary case10-row3-item4-random2 */
/*1*/
.case10-row3-item4-random2-1::after{
    content: "truck";
}
.case10-row3-item4-random2-acc1::after{
    content: "xe tải";
}
/*2*/
.case10-row3-item4-random2-2::after{
    content: "supplement";
}
.case10-row3-item4-random2-acc2::after{
    content: "bổ sung";
}
/*3*/
.case10-row3-item4-random2-3::after{
    content: "mineral";
}
.case10-row3-item4-random2-acc3::after{
    content: "khoáng sản, chất khoáng";
}
/*4*/
.case10-row3-item4-random2-4::after{
    content: "regulation";
}
.case10-row3-item4-random2-acc4::after{
    content: "quy định, chế độ";
}
/*5*/
.case10-row3-item4-random2-5::after{
    content: "purchase";
}
.case10-row3-item4-random2-acc5::after{
    content: "mua";
}




