.case11{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #081b29;
    z-index: 15;
}

.case11-title{
    position: absolute;
    width: 100%;
    height: 10%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.case11-title-text{
    width: 40%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.case11-title-text > h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;

}
.case11 .case11-container{
    position: relative;
    margin-top: 130px;
    margin-left: 300px;
    width: 937px;
    height: 700px;
    background: linear-gradient(#081b29, #0ef, #081b29, #0ef);
    box-shadow: 0 0 100px #0ef;
}
.case11 .case11-container .xdong11{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 60px;
    height: 30px;
    background: rgba(255,0,0,0.5);
    cursor: pointer;
    user-select: none;
    color: white;
}
.case11 .case11-container .xdong11:hover {
    background: rgb(255,0,0);
}
.reset11 {
    position: absolute;
    display: flex;
    margin-left: 45%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    width: 100px;
    height: 30px;
    user-select: none;
    background:rgba(255,0,0,0.5);
}
.reset11:hover {
    background: red;
    cursor: pointer;
}

/* all element in case11 */
.case11-row{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 50px;
} 

.row {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item {
    background: black;
    width: 20%;
    height: 100%;
    overflow: hidden;
}
.font {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}




/*-----------------------------------------------------row1----------------------------------------*/
/*---------------------------------------------case11-row1-item1-rwamdom1----------------------------*/
.case11-row1-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case11-row1-item1-random2-1*/
.case11-row1-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case11-row1-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case11-row1-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case11-row1-item1-random2-2*/
.case11-row1-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case11-row1-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case11-row1-item1-random2-3*/
.case11-row1-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case11-row1-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case11-row1-item1-random2-3*/
.case11-row1-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case11-row1-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case11-row1-item1-random2-5*/
.case11-row1-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case11-row1-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }









/*--------------------------------case11-row1-item2-ramdom2-------------*/
.case11-row1-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row1-item2-random2-1*/
.case11-row1-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case11-row1-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case11-row1-item2-random2-2*/
.case11-row1-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case11-row1-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case11-row1-item1-random2-3*/
.case11-row1-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case11-row1-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case11-row1-item2-random2-4*/
.case11-row1-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case11-row1-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row1-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case11-row1-item2-random2-5*/
.case11-row1-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case11-row1-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }







/*--------------------------------case11-row1-item3-ramdom2-------------*/
.case11-row1-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row1-item3-random2-1*/
.case11-row1-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row1-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row1-item3-random2-2*/
.case11-row1-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row1-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row1-item1-random2-3*/
.case11-row1-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row1-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row1-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row1-item3-random2-4*/
.case11-row1-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row1-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row1-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row1-item3-random2-5*/
  .case11-row1-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row1-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }







/*--------------------------------case11-row1-item4-ramdom2-------------*/
.case11-row1-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row1-item4-random2-1*/
.case11-row1-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row1-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row1-ite4-random2-2*/
.case11-row1-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row1-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row1-item4-random2-3*/
.case11-row1-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row1-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row1-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row1-item4-random2-4*/
.case11-row1-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row1-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row1-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row1-item4-random2-5*/
  .case11-row1-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row1-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row1-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }


/*note vocabulary case11-row1-item2-radom2 */
/*1*/
.case11-row1-item2-random2-1::after{
    content: "discount";
}
.case11-row1-item2-random2-acc1::after{
    content: "ưu đãi, giảm giá";
}
/*2*/
.case11-row1-item2-random2-2::after{
    content: "present";
}
.case11-row1-item2-random2-acc2::after{
    content: "hiện tại, giới thiệu, xuất trình";
}
/*3*/
.case11-row1-item2-random2-3::after{
    content: "apply";
}
.case11-row1-item2-random2-acc3::after{
    content: "nộp đơn, áp dụng";
}
/*4*/
.case11-row1-item2-random2-4::after{
    content: "town";
}
.case11-row1-item2-random2-acc4::after{
    content: "thị trấn, thành phố";
}
/*5*/
.case11-row1-item2-random2-5::after{
    content: "sell";
}
.case11-row1-item2-random2-acc5::after{
    content: "bán";
}  


/*note vocabulary case11-row1-item1-radom1 */
/*1*/
.case11-row1-item1-random2-1::after{
    content: "applicant";
}
.case11-row1-item1-random2-acc1::after{
    content: "ứng viên";
}
/*2*/
.case11-row1-item1-random2-2::after{
    content: "habit";
}
.case11-row1-item1-random2-acc2::after{
    content: "thói quen";
}
/*3*/
.case11-row1-item1-random2-3::after{
    content: "attitude";
}
.case11-row1-item1-random2-acc3::after{
    content: "thái độ";
}
/*4*/
.case11-row1-item1-random2-4::after{
    content: "psychological";
}
.case11-row1-item1-random2-acc4::after{
    content: "tâm lí";
}
/*5*/
.case11-row1-item1-random2-5::after{
    content: "measure";
}
.case11-row1-item1-random2-acc5::after{
    content: "đo lường, biện pháp";
}



/*note vocabulary case11-row1-item3-radom2 */
/*1*/
.case11-row1-item3-random2-1::after{
    content: "motivation";
}
.case11-row1-item3-random2-acc1::after{
    content: "động lực";
}
/*2*/
.case11-row1-item3-random2-2::after{
    content: "toward";
}
.case11-row1-item3-random2-acc2::after{
    content: "hướng về phí, đối với";
}
/*3*/
.case11-row1-item3-random2-3::after{
    content: "expand";
}
.case11-row1-item3-random2-acc3::after{
    content: "mở rộng";
}
/*4*/
.case11-row1-item3-random2-4::after{
    content: "abroad";
}
.case11-row1-item3-random2-acc4::after{
    content: "nước ngoài";
}
/*5*/
.case11-row1-item3-random2-5::after{
    content: "vendor";
}
.case11-row1-item3-random2-acc5::after{
    content: "nhà cung cấp";
}



/*note vocabulary case11-row1-item4-random2 */
/*1*/
.case11-row1-item4-random2-1::after{
    content: "invest";
}
.case11-row1-item4-random2-acc1::after{
    content: "đầu tư";
}
/*2*/
.case11-row1-item4-random2-2::after{
    content: "attract";
}
.case11-row1-item4-random2-acc2::after{
    content: "thu hút";
}
/*3*/
.case11-row1-item4-random2-3::after{
    content: "suitable";
}
.case11-row1-item4-random2-acc3::after{
    content: "thích hợp";
}
/*4*/
.case11-row1-item4-random2-4::after{
    content: "social";
}
.case11-row1-item4-random2-acc4::after{
    content: "xã hội";
}
/*5*/
.case11-row1-item4-random2-5::after{
    content: "activity";
}
.case11-row1-item4-random2-acc5::after{
    content: "hoạt động";
}



/*-----------------------------------------------------row2----------------------------------------*/
/*---------------------------------------------case11-row1-item1-rwamdom1----------------------------*/
.case11-row2-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}



/*.case11-row2-item1-random2-1*/
.case11-row2-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case11-row2-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case11-row2-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case11-row2-item1-random2-2*/
.case11-row2-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case11-row2-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case11-row2-item1-random2-3*/
.case11-row2-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case11-row2-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case11-row2-item1-random2-3*/
.case11-row2-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case11-row2-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case11-row2-item1-random2-5*/
  .case11-row2-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case11-row2-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case11-row2-item2-ramdom2-------------*/
.case11-row2-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row2-item2-random2-1*/
.case11-row2-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case11-row2-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case11-row2-item2-random2-2*/
.case11-row2-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case11-row2-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case11-row2-item1-random2-3*/
.case11-row2-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case11-row2-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case11-row2-item2-random2-4*/
.case11-row2-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case11-row2-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row2-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }



  /*.case11-row2-item2-random2-5*/
  .case11-row2-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case11-row2-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case11-row1-item3-ramdom2-------------*/
.case11-row2-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row2-item3-random2-1*/
.case11-row2-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row2-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row2-item3-random2-2*/
.case11-row2-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row2-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row2-item1-random2-3*/
.case11-row2-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row2-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row2-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row2-item3-random2-4*/
.case11-row2-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row2-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row2-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row2-item3-random2-5*/
  .case11-row2-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row2-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case11-row2-item4-ramdom2-------------*/
.case11-row2-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row2-item4-random2-1*/
.case11-row2-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row2-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row2-ite4-random2-2*/
.case11-row2-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row2-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row2-item4-random2-3*/
.case11-row2-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row2-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row2-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row2-item4-random2-4*/
.case11-row2-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row2-item4-random2-4::after{
    /* content: "His"; */
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row2-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row2-item4-random2-5*/
  .case11-row2-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row2-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row2-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case11-row2-item1-radom1 */
/*1*/
.case11-row2-item1-random2-1::after{
    content: "volunteer";
}
.case11-row2-item1-random2-acc1::after{
    content: "tình nguyện viên";
}
/*2*/
.case11-row2-item1-random2-2::after{
    content: "shine";
}
.case11-row2-item1-random2-acc2::after{
    content: "sôi sáng";
}
/*3*/
.case11-row2-item1-random2-3::after{
    content: "different";
}
.case11-row2-item1-random2-acc3::after{
    content: "khác nhau";
}
/*4*/
.case11-row2-item1-random2-4::after{
    content: "difficult";
}
.case11-row2-item1-random2-acc4::after{
    content: "khó, khó khăn";
}
/*5*/
.case11-row2-item1-random2-5::after{
    content: "measles";
}
.case11-row2-item1-random2-acc5::after{
    content: "bệnh sởi";
}




/*note vocabulary case11-row2-item2-radom2 */
/*1*/
.case11-row2-item2-random2-1::after{
    content: "disease";
}
.case11-row2-item2-random2-acc1::after{
    content: "bệnh, bệnh tật";
}
/*2*/
.case11-row2-item2-random2-2::after{
    content: "infectious";
}
.case11-row2-item2-random2-acc2::after{
    content: "lây nhiễm";
}
/*3*/
.case11-row2-item2-random2-3::after{
    content: "produce";
}
.case11-row2-item2-random2-acc3::after{
    content: "sản xuất, gây ra";
}
/*4*/
.case11-row2-item2-random2-4::after{
    content: "spot";
}
.case11-row2-item2-random2-acc4::after{
    content: "đốm, điểm";
}
/*5*/
.case11-row2-item2-random2-5::after{
    content: "depend on";
}
.case11-row2-item2-random2-acc5::after{
    content: "phụ thuộc vào";
}


/*note vocabulary case11-row2-item3-radom2 */
/*1*/
.case11-row2-item3-random2-1::after{
    content: "rely on";
}
.case11-row2-item3-random2-acc1::after{
    content: "phụ thuộc vào";
}
/*2*/
.case11-row2-item3-random2-2::after{
    content: "under tight budget";
}
.case11-row2-item3-random2-acc2::after{
    content: "eo hẹp về ngân sách";
}
/*3*/
.case11-row2-item3-random2-3::after{
    content: "headquarters";
}
.case11-row2-item3-random2-acc3::after{
    content: "trụ sở chính";
}
/*4*/
.case11-row2-item3-random2-4::after{
    content: "locate";
}
.case11-row2-item3-random2-acc4::after{
    content: "xác định về vị trí, nằm ở";
}
/*5*/
.case11-row2-item3-random2-5::after{
    content: "complete";
}
.case11-row2-item3-random2-acc5::after{
    content: "hoàn thành";
}

/*note vocabulary case11-row2-item4-random2 */
/*1*/
.case11-row2-item4-random2-1::after{
    content: "fulfill";
}
.case11-row2-item4-random2-acc1::after{
    content: "hoàn thành";
}
/*2*/
.case11-row2-item4-random2-2::after{
    content: "finish";
}
.case11-row2-item4-random2-acc2::after{
    content: "hoàn thành";
}
/*3*/
.case11-row2-item4-random2-3::after{
    content: "offer";
}
.case11-row2-item4-random2-acc3::after{
    content: "đưa ra đề nghị, cung cấp, tạo cơ hội";
}
/*4*/
.case11-row2-item4-random2-4::after{
    content: "incur";
}
.case11-row2-item4-random2-acc4::after{
    content: "phải chịu, phát sinh";
}
/*5*/
.case11-row2-item4-random2-5::after{
    content: "reimburse";
}
.case11-row2-item4-random2-acc5::after{
    content: "hoàn trả lại tiền";
}



/*-----------------------------------------------------row3----------------------------------------*/
/*---------------------------------------------case11-row3-item1-rwamdom1----------------------------*/
.case11-row3-item1-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
    
}


/*.case11-row3-item1-random2-1*/
.case11-row3-item1-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;    
}
.case11-row3-item1-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 10px;
}
.case11-row3-item1-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* left: 15px; */
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
  }

  /*.case11-row3-item1-random2-2*/
.case11-row3-item1-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
}
.case11-row3-item1-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item1-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
  }
/*.case11-row3-item1-random2-3*/
.case11-row3-item1-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
}
.case11-row3-item1-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item1-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
  }


  /*.case11-row3-item1-random2-3*/
.case11-row3-item1-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
}
.case11-row3-item1-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item1-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
  }

  /*.case11-row3-item1-random2-5*/
  .case11-row3-item1-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
}
.case11-row3-item1-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item1-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
  }










/*--------------------------------case11-row3-item2-ramdom2-------------*/
.case11-row3-item2-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row3-item2-random2-1*/
.case11-row3-item2-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 10;
    
}
.case11-row3-item2-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item2-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 10;
  }



/*.case11-row3-item2-random2-2*/
.case11-row3-item2-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 10;
}
.case11-row3-item2-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item2-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 10;
  }
/*.case11-row3-item1-random2-3*/
.case11-row3-item2-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 10;
}
.case11-row3-item2-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item2-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 10;
  }


  /*.case11-row3-item2-random2-4*/
.case11-row3-item2-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 10;
}
.case11-row3-item2-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row3-item2-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 10;
  }


  
  /*.case11-row3-item2-random2-5*/
  .case11-row3-item2-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 10;
}
.case11-row3-item2-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item2-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 10;
  }






/*--------------------------------case11-row3-item3-ramdom2-------------*/
.case11-row3-item3-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row3-item3-random2-1*/
.case11-row3-item3-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row3-item3-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item3-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row3-item3-random2-2*/
.case11-row3-item3-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row3-item3-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item3-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row3-item1-random2-3*/
.case11-row3-item3-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row3-item3-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row3-item3-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row3-item3-random2-4*/
.case11-row3-item3-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row3-item3-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row3-item3-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row3-item3-random2-5*/
  .case11-row3-item3-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row3-item3-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item3-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }






/*--------------------------------case11-row3-item4-ramdom2-------------*/
.case11-row3-item4-random2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.5s ease all;
}
/*.case11-row3-item4-random2-1*/
.case11-row3-item4-random2-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    z-index: 11;
    
}
.case11-row3-item4-random2-1::after{
    /* content: "Man"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item4-random2-acc1::after{
    position: absolute;
    font-size: 20px;
    top: 60px;
    left: 15px;
    /* content: "Đàn Ông"; */
    color: red;
    text-align: center;
    z-index: 11;
  }



/*.case11-row3-ite4-random2-2*/
.case11-row3-item4-random2-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(100%);
    z-index: 11;
}
.case11-row3-item4-random2-2::after{
    /* content: "Woman"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item4-random2-acc2::after{
    position: absolute;
    font-size: 20px;
    /* content: "Người Phụ Nữ"; */
    color: red;
    z-index: 11;
  }
/*.case11-row3-item4-random2-3*/
.case11-row3-item4-random2-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(200%);
    z-index: 11;
}
.case11-row3-item4-random2-3::after{
    /* content: "Men"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 20px;
}
.case11-row3-item4-random2-acc3::after{
    position: absolute;
    font-size: 20px;
    /* content: "Những người đàn ông"; */
    color: red;
    z-index: 11;
  }


  /*.case11-row3-item4-random2-4*/
.case11-row3-item4-random2-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(300%);
    z-index: 11;
}
.case11-row3-item4-random2-4::after{
    /* content: "His"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
    
}
.case11-row3-item4-random2-acc4::after{
    position: absolute;
    font-size: 20px;
    /* content: "Anh ấy"; */
    color: red;
    z-index: 11;
  }



  /*.case11-row3-item4-random2-5*/
  .case11-row3-item4-random2-5 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    transform: translateX(400%);
    z-index: 11;
}
.case11-row3-item4-random2-5::after{
    /* content: "Her"; */
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    top: 50px;
    left: 15px;
}
.case11-row3-item4-random2-acc5::after{
    position: absolute;
    font-size: 20px;
    /* content: "Cô ấy"; */
    color: red;
    z-index: 11;
  }

/*note vocabulary case11-row3-item1-radom1 */
/*1*/
.case11-row3-item1-random2-1::after{
    content: "term and condition";
}
.case11-row3-item1-random2-acc1::after{
    content: "quy định/ điều khoản";
}
/*2*/
.case11-row3-item1-random2-2::after{
    content: "provision";
}
.case11-row3-item1-random2-acc2::after{
    content: "trong hợp đồng";
}
/*3*/
.case11-row3-item1-random2-3::after{
    content: "satisfaction";
}
.case11-row3-item1-random2-acc3::after{
    content: "sự thỏa mãn, sự hài lòng";
}
/*4*/
.case11-row3-item1-random2-4::after{
    content: "tank";
}
.case11-row3-item1-random2-acc4::after{
    content: "thùng, bể chứa, bình";
}
/*5*/
.case11-row3-item1-random2-5::after{
    content: "display";
}
.case11-row3-item1-random2-acc5::after{
    content: "màn hình, trưng bày";
}




/*note vocabulary case11-row3-item2-radom2 */
/*1*/
.case11-row3-item2-random2-1::after{
    content: "luncheon";
}
.case11-row3-item2-random2-acc1::after{
    content: "tiệc trưa";
}
/*2*/
.case11-row3-item2-random2-2::after{
    content: "client";
}
.case11-row3-item2-random2-acc2::after{
    content: "khách hàng";
}
/*3*/
.case11-row3-item2-random2-3::after{
    content: "customer";
}
.case11-row3-item2-random2-acc3::after{
    content: "khách hàng";
}
/*4*/
.case11-row3-item2-random2-4::after{
    content: "stair";
}
.case11-row3-item2-random2-acc4::after{
    content: "cầu thang";
}
/*5*/
.case11-row3-item2-random2-5::after{
    content: "nutritionist";
}
.case11-row3-item2-random2-acc5::after{
    content: "chuyên gia dinh dưỡng";
}


/*note vocabulary case11-row3-item3-radom2 */
/*1*/
.case11-row3-item3-random2-1::after{
    content: "appointment";
}
.case11-row3-item3-random2-acc1::after{
    content: "cuộc hẹn";
}
/*2*/
.case11-row3-item3-random2-2::after{
    content: "cause";
}
.case11-row3-item3-random2-acc2::after{
    content: "nguyên nhân, gây ra";
}
/*3*/
.case11-row3-item3-random2-3::after{
    content: "fitness center";
}
.case11-row3-item3-random2-acc3::after{
    content: "trung tâm thể hình";
}
/*4*/
.case11-row3-item3-random2-4::after{
    content: "item";
}
.case11-row3-item3-random2-acc4::after{
    content: "vật, món hàng";
}
/*5*/
.case11-row3-item3-random2-5::after{
    content: "keynote speaker(n)";
}
.case11-row3-item3-random2-acc5::after{
    content: "diễn giả chính";
}

/*note vocabulary case11-row3-item4-random2 */
/*1*/
.case11-row3-item4-random2-1::after{
    content: "orientation (n)";
}
.case11-row3-item4-random2-acc1::after{
    content: "sự định hướng";
}
/*2*/
.case11-row3-item4-random2-2::after{
    content: "pasta(n)";
}
.case11-row3-item4-random2-acc2::after{
    content: "mì ống, nui";
}
/*3*/
.case11-row3-item4-random2-3::after{
    content: "impressive (adj)";
}
.case11-row3-item4-random2-acc3::after{
    content: "ấn tượng";
}
/*4*/
.case11-row3-item4-random2-4::after{
    content: "conference (n)";
}
.case11-row3-item4-random2-acc4::after{
    content: "hội nghị";
}
/*5*/
.case11-row3-item4-random2-5::after{
    content: "right behind";
}
.case11-row3-item4-random2-acc5::after{
    content: "ngay đằng sau";
}




